# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directories
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
/server/node_modules
/features/node_modules
/react-redux-tscript/node_modules
/maps/node_modules
/fetchjson/node_modules

#build outputs
/server/build
/features/build
/react-redux-tscript/build
/maps/build
/fetchjson/build

# eBook build output
*.epub
*.mobi
*.pdf
